COMPOSE_PROJECT_NAME=${COMPOSE_PROJECT_NAME}
REGISTRY=${REGISTRY}
IMAGE_TAG=${IMAGE_TAG}
SITE_URL=${API_SITE_URL}
SITE_NAME=${SITE_NAME}
API_DB_PASSWORD=${API_DB_PASSWORD}
API_MAILER_HOST=${API_MAILER_HOST}
API_MAILER_PORT=${API_MAILER_PORT}
API_MAILER_USER=${API_MAILER_USER}
API_MAILER_PASSWORD=${API_MAILER_PASSWORD}
API_MAILER_FROM_EMAIL=${API_MAILER_FROM_EMAIL}
API_MAILER_FROM_NAME=${API_MAILER_FROM_NAME}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
FRONTEND_URL=${FRONTEND_URL}
TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
TELEGRAM_CHAT_ID=${TELEGRAM_CHAT_ID}
SENTRY_DSN=${SENTRY_DSN}
JWT_ENCRYPTION_KEY=${JWT_ENCRYPTION_KEY}
YANDEX_CLIENT_ID=${YANDEX_CLIENT_ID}
YANDEX_CLIENT_SECRET=${YANDEX_CLIENT_SECRET}
YANDEX_REDIRECT_URI=${YANDEX_REDIRECT_URI}
GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
GOOGLE_REDIRECT_URL=${GOOGLE_REDIRECT_URL}